<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row top-buffer-20">
      <div class="col-md-2">
        <%= f.label :code %><br />
        <%= f.text_field :code , class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row top-buffer-20">
      <div class="col-md-6">
        <%= f.label :bank_account, "Numer konta bankowego" %><br />
        <%= f.text_field :bank_account, class: "form-control" %>
      </div>
    </div>
  </div>

  <% if current_user.is_superadmin %>
  <div class="field">
    <div class="row top-buffer-20">
      <div class="col-md-6">
        <div class="form-check">
          <%= f.check_box :auto_bank_import, class: "form-check-input" %>
          <%= f.label :auto_bank_import, "Automatyczne ładowanie z banku (Elixir)", class: "form-check-label" %>
          <small class="form-text text-muted">Zaznacz, aby włączyć automatyczne ładowanie danych bankowych przez administratora</small>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="field">
    <div class="row top-buffer-20">
      <div class="col-md-6">
        <%= f.label :group_ids %><br />
        <%= f.select :group_ids, @groups.collect { |g| [ g.name, g.id ] }, {}, { :multiple => true, class: "form-control" }%>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Zapisz", :class => "btn btn-sm btn-success top-buffer-20" %>
  </div>

<% end %>
